a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

li {
  list-style: none; }

#about, #blog, #contact, #resume {
  font-size: 20px; }

body, html {
  font-family: 'Open Sans', "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 100%; }

.blog-content {
  text-align: center; }

.nav-list {
  height: 100%;
  float: left;
  clear: both; }

.content {
  margin: auto;
  max-width: 50%; }

.portrait {
  max-width: 300px; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.hidden-li {
  display: none; }

@media (max-width: 960px) {
  .content {
    max-width: 75%; } }

@media (max-width: 1000px) {
  #about, #blog, #contact, #resume {
    font-size: 1em;
    margin-right: 20px; } }
