body, html {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%; }

.nav-list {
  height: 100%;
  float: left;
  clear: both; }

.content {
  margin: auto;
  max-width: 50%; }

.portrait {
  max-width: 300px; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.hidden-li {
  display: none; }
