extends layout

block content
	br
	#aboutContent
		!= aboutData
	ul#blogContent
		li.hidden-li
			a
		li.hidden-li
			a
		li.hidden-li
			a
		li.hidden-li 
			a 
		li.hidden-li 
			a
		li.hidden-li 
			a
		li.hidden-li 
			a
		li.hidden-li 
			a
		li.hidden-li 
			a
		li.hidden-li 
			a
	script(type="text/javascript" src="javascripts/all.js")
