doctype html
html
	head
		meta(name=viewport content='width=700')
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css/style.css')
	body
		.content
			ul.nav-list
				li
					a#about(href='#') about
				li
					a#blog(href='#') blog
				li
					a#contact(href='#') contact
				li
					a#resume(href='#') resume
			.content.title-group
				h1.title Evan Kozliner
				img.portrait(src="images/compressed-me.jpg")
			block content
	.footer
