#about, #about:visited {
	color: #76C4FF;
	text-decoration: none;
}
#blog, #blog:visited {
	color: #44916C;
	text-decoration: none;
}
#contact, #contact:visited {
	color: #F90A5C;
	text-decoration: none; 
}
#resume, #resume:visited {
	color: #F8C522;
	text-decoration: none; 
}
a, a#visited {
	text-decoration: none;
	color: #76C4FF;
}
.nav-list > li {
	list-style: none;
}
#about, #blog, #contact, #resume {
	font-size: 20px;
}
body, html {
	font-family: 'Open Sans', "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 17px;
	/*width: 100%; */
}
.blog-content {
	text-align: center
}
.nav-list {
	height: 100%;
	float: left;
	clear: both;
}
.content {
	margin: auto;
	max-width: 50%;
}
.portrait {
	max-width: 300px;
} 
.post-content {
	margin: auto;
	max-width: 50%;
}
img {
	width: auto;
	max-width: 100%;
	height: auto !important;
}
p {
	line-height: 1.6;
}
.top-border {
	border-left-style: solid;
}
@media (max-width: 960px) {
	.content {
		max-width: 75%;
	}
}
@media(max-width: 1000px) {
	#about, #blog, #contact, #resume {
		font-size: 1.3em;
	}
}
